@{
    ViewBag.Title = "Login";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/vnd.microsoft.icon" href="~/img/icon.ico">
<title>Inicio de sesión</title>

<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/popper.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Login.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/login.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">

<<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container">
                <div class="form-group">
                    <label for="Nombre">Nombre de usuario:</label>
                    <input type="text" class="form-control" id="NombreUsuario" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <label for="Nombre">Contraseña:</label>
                    <input type="password" class="form-control" id="PasswordUsuario" placeholder="">
                </div>
                <input type='button' id='SUBMIT' value='Ingresar' class="btn btn-success btn-block">
                <div id="chartContainer" style="height: 100%; width: 100%;"></div>
            </form>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
    </div>
</div>