div#background {
    width: 600px;
    height: 500px;
    background-image: url('../img/Granero.jpg');
    position: absolute;
}

div#heroes{
    position: absolute;
    width: 600px;
    height: 500px; 
}
div.hero1 {
    width: 60px;
    height: 60px;
    background-image: url('../img/Marranito.png');
    position: absolute;
}
div.hero2 {
    width: 60px;
    height: 60px;
    background-image: url('../img/MarranitoEnemy.png');
    position: absolute;
}


div#missiles {
    width: 600px;
    height: 500px;
    position: absolute;
}

div.missile {
    width: 20px;
    height: 20px;
    background-image: url('../img/Misil.png');
    position: absolute;
}

div#wall {
    width: 600px;
    height: 500px;
    position: absolute;
}

div.wall {
    width: 31px;
    height: 40px;
    background-image: url('../img/barrera.png');
    position: absolute;
}

body {
    background-image: url("../img/red-barn-and-silo-vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #cccccc;
}
.form-container{
    padding: 38px 48px;
    margin-top: 96px;
    background-color: rgba(255,255,255,0.75);
    -webkit-box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.41);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}